.ffirstpart{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    margin: 0 50px;
    margin-bottom: 100px;
    gap: 30px;
}

.ffirstpart h1{
    font-size: 3rem;
    color: rgb(0, 13, 73);
}

.fcontent{
    height: 100%;
    /* width: 700px; */
    /* background-color: blue; */
}

.ffirstpart p{
    /* width: 55%; */
    font-size: 1.3rem;
    letter-spacing: 1.5px;
    height: 100%;
    /* flex: initial; */
}


.image{
    height: 300px;
    min-width: 300px;
    /* background-color: green; */
    background-image: url('./round.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.blimage{
    height:750px;
    width: 100%;
    background-image: url("./intro1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.appealforsponsors{
    text-align: center;
}

.appealforsponsors p{
    padding: 10%;
    font-size: 1.5rem;
}

.contact{
    background: #d1d1d1;
    text-align: center;
}

.contact p{
    padding: 3%;
    font-size: 1.2rem;
    font-weight: 700;
}

.sponsors h1{
    font-size: 3rem;
    color:rgb(0, 13, 73);
}

.click{
    height:50px;
    background-color: yellow;
    padding: 2%;
}

.click h2{
    font-size: 1.7rem;
    font-weight: 900;
}


.currrentsponsors{
    display: flex;
    /* column-gap: 20px; */
    flex-wrap: wrap;
    justify-content: space-around;
}

.currrentsponsors img{
    max-width: 100%;
    height: auto;
    display: block;
}
.bb{
    transform: scale(0.8);
}

@media (max-width: 800px){
    .ffirstpart{
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        gap: 40px;
    }

    .ffirstpart p{
        padding-inline: 30px;
    }
}

@media (max-width:425px){
    .image{
        order: 1;
    }

    .fcontent h1{
        padding: 0;
    }

    .fcontent p{
        padding: 0;
        padding-bottom: 5%;
    }

    .image{
        margin-top: 30%;
        height: 500px;
        width: 300px;
        margin-left: 13%;
    }

}


